.conteiner {
  display: grid;
  grid-template-areas: 
      "header header"
      "nav nav"
      "main main"
      "footer footer";
      
  grid-template-columns: 1fr 3fr;
  gap: 10px; /* Espaçamento entre os itens */

}

.logo_image {
  height: 200px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
  background-color: seagreen;
  height: 150px;
} 

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: nav;
  background-color: brown;
  height: 50px;
  
}

main {
  display: flex;
  grid-area: main;
  background-color: orange
  
}

footer {
  display: flex;
  grid-area: footer;
  background-color: blueviolet;
}
  
  